.search_center {
    margin-top: 100px;
    margin-bottom: 50px;
}

#search_box {
    width: 600px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    text-align: center;
    border: 2px solid #eeeeee;
}

#search_btn {
    background-color: #2b2d42;
    color: #ffffff;
    padding: 10px 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#modal_container {
    background-color: #FFFFFF;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}

#close-modal {
    float: right;
    font-weight: bolder;
    font-size: 25px;
    background-color: #e8505a;
    color: #FFFFFF;
    padding: 5px 12px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

#close-modal:after {
    content: "";
    display: block;
    clear: both;
}

#shorten_text {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto Medium', sans-serif;
}

#horizontal_line {
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
    margin-top: 30px;
}

#form_url {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.error_text {
    color: #e8505a;
    text-align: center;
    font-weight: bolder;
}

#copy_event_btn {
    background-color: #2f3e46;
    color: #FFFFFF;
    padding: 20px 40px;
    text-align: center;
    cursor: copy;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#verified_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #02c39a;
}

@media screen and (max-width: 768px) {
    #search_box {
        width: 300px;
    }

    #modal_container {
        width: 80%;
    }

    #close-modal {
        font-size: 14px;
        padding: 5px 10px;
    }

    #successful_link {
        font-size: 14px;
        text-align: center;
    }

    .modal-content {
        width: 80%;
    }
}

